<!doctype html>
<html>
    <head>
<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
</head>
    <body>
	<a href="/clients">Клиенты</a>
	<a href="/contracts">Контракты</a>
	<a href="/deliveries">Доставка</a>
	<a href="/finances">Финансы</a>
	<a href="/jobs">Должности</a>
	<a href="/opjournal">Журнал операций</a>
	<a href="/registry">Реестр товаров</a>
	<a href="/suppliers">Поставщики</a>
	<a href="/valuables">Информация о товарах</a>
	<a href="/workers">Список сотрудников</a>
	<a href="/logout">Выход из системы</a>
	<center>
	<h1>Отсутствует доступ. За получением прав обратитесь к администратору.</h1>
	</center>
    </body>
</html>
